@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    background: #141821;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(#00f0ff, #00ff88);
    border-radius: 4px;
  }
}
